body {
    border-top: none;
}

.card {
    border-top: 10px solid #aa0d0d;
}

h3 {
    padding: 30px;
    font-size: 30pt;
    margin-bottom: 20px;
}

.segment {
    float: left;
    width: 49%;
}

.segment svg {
    max-height: 550px;
}